body {
  background-color: #f6f6f6 !important;
}

img.icon{
    height: 1em;
    width: 1em;
    filter: invert(32%) sepia(81%) saturate(4601%) hue-rotate(210deg) brightness(90%) contrast(101%);
}

img.star{
  filter: invert(98%) sepia(89%) saturate(7455%) hue-rotate(318deg) brightness(107%) contrast(91%) !important;
}

img.avatar {
  width:32px;
  height: 32px;
  border-radius: 50px;
  margin-right: 0.6em;
}

.modal-dialog{
  max-width: 800px !important;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.modal-content{
  border: none;
  border-radius: 0px;
  background-color: #f6f6f6 !important;
}

.modal-body{
  padding: 0px !important;
}
@media all and (max-width: 800px) {
  .modal-dialog{
    margin: 0px !important;
    position: absolute !important;
    bottom: 0 !important;
    width: inherit !important;
    left: 0 !important;
  }
}
@media screen and (min-width: 801px){
  .add-task-modal.modal-dialog{
    margin: 0px !important;
    position: absolute !important;
    bottom: 0 !important;
    width: inherit !important;
    left: calc(50vw - 800px / 2) !important;
  }
}
