body {
  background-color: #f6f6f6 !important;
}

.modal-dialog{
  max-width: 800px !important;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.modal-content{
  border: none;
  border-radius: 0px;
    background-color: #f6f6f6 !important;
}

.modal-body{
  padding: 20px !important;
}
@media all and (max-width: 800px) {
  .modal-dialog{
    margin: 0px;
    position: absolute;
    bottom: 0;
    width: inherit;
    left: 0;
  }
}
