body {
  background-color: #f6f6f6 !important;
}

.modal-dialog{
  max-width: 800px !important;
}

.modal-content{
  border: none;
  border-radius: 0px;
    background-color: #f6f6f6 !important;
}

.modal-body{
  padding: 20px !important;
}
